# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Database
db/

# Jupyter
.ipynb_checkpoints/
.vercel
